.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
}

.main-container {
  display: flex;
  flex: 1;  /* Ocupa todo el espacio entre header y footer */
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}